.loging-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-image: url("../images/rainbowVortex.svg");
  background-size: cover;
}

.loging-screen > img {
  border-radius: 50%;
  width: 15vw;
}

.loging-screen > div {
  font-size: 4vh;
  font-weight: bold;
  color: var(--theme-font);
  text-transform: capitalize;
}

.loging-screen > form > input {
  padding: 0.2rem;
  width: 20vw;
  border: 3px solid var(--border-main);
}

.loging-screen > p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tooltip {
  font-size: 1rem;
  display: block;
  position: absolute;
  padding-top: 12px;
}
