.loging-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-image: url("../images/rainbowVortex.svg");
  background-size: cover;
}

.loging-screen > img {
  border-radius: 50%;
  width: 15vw;
}

.loging-screen > div {
  font-size: 4vh;
  font-weight: bold;
  color: var(--theme-font);
  text-transform: capitalize;
}

.loging-screen > form > input {
  padding: 0.2rem;
  width: 20vw;
  border: 3px solid var(--border-main);
}

.loging-screen > p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tooltip {
  font-size: 1rem;
  display: block;
  position: absolute;
  padding-top: 12px;
}

:root {
  --wss-main-color1: hsl(214, 100%, 3%);
  --wss-main-color2: hsl(212, 88%, 38%);
  --wss-main-color3: hsl(213, 26%, 87%);
  --wss-font-color: hsl(0, 0%, 100%);
}

.starting-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12vh;
  width: 100%;
  height: 100%;
  background-color: var(--wss-main-color1);
}

.ss-logo {
  height: 20vh;
  filter: invert(21%) sepia(42%) saturate(5139%) hue-rotate(205deg)
    brightness(170%) contrast(84%);
}

.ss-spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid var(--wss-main-color3);
  border-top-color: var(--wss-main-color1);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
