:root {
  --tetris-color1: #5800ff;
  --tetris-color2: #0096ff;
  --tetris-color3: #00d7ff;
  --tetris-color4: #72ffff;
  --tetris-color5: #72ffff13;
  --tetris-color6: #e6183a;
  --tetris-color7: #23e289;
  --tetris-color8: #3fee82;
  --tetris-color9: #72ffff4f;
  --tetris-color10: #ffffff;
  --tetris-background-color: black;
}

@font-face {
  font-family: ethnocentric;
  src: url("../fonts/ethnocentric.otf");
}

@font-face {
  font-family: ethnocentric;
  src: url("../fonts/ethnocentric-it.otf");
  font-style: italic;
}

.tetris {
  height: 100%;
  background-color: var(--tetris-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tetris-color10);
  overflow-y: scroll;
}

.tetris::-webkit-scrollbar,
.tetris *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tetris::-webkit-scrollbar-track,
.tetris *::-webkit-scrollbar-track {
  background: var(--hover-main);
  border-radius: 5px;
}

.tetris::-webkit-scrollbar-thumb,
.tetris *::-webkit-scrollbar-thumb {
  background: var(--hover-main);
  border-radius: 5px;
}

.tetris::-webkit-scrollbar-thumb:hover,
.tetris *::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

.tetris * {
  font-family: ethnocentric;
}

.tetris button {
  background-color: transparent;
  color: var(--tetris-color3);
  font-size: 1.5rem;
  transition: all 0.1s;
}

.tetris button:hover {
  color: var(--tetris-color2);
}

.tetris-pause {
  filter: invert(61%) sepia(92%) saturate(1449%) hue-rotate(145deg)
    brightness(101%) contrast(104%);
  max-width: 2rem;
  transition: all 0.1s;
}

.tetris-pause:hover {
  filter: invert(26%) sepia(59%) saturate(7102%) hue-rotate(340deg)
    brightness(90%) contrast(101%);
}

.tetris__game-window {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.tetris__game-board__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(40rem + 21px);
  min-width: calc(20rem + 13px);
  border: 2px solid var(--tetris-color2);
  border-radius: 0 0 5px 5px;
  border-top: 0;
  background-color: var(--tetris-background-color);
  box-shadow: 0px 0px 10px 5px var(--tetris-color3);
}

.tetris__game-board__menu__title {
  font-size: 3rem;
  position: absolute;
  color: var(--tetris-color3);
  top: 0;
  left: 0;
  transform: translate(20%, 45%);
  display: inline-block;
}

.tetris__game-board__menu__title span:nth-child(1) {
  animation: color-change 1.5s ease-in-out 0s;
}

.tetris__game-board__menu__title span:nth-child(2) {
  animation: color-change 1.5s ease-in-out 0.5s;
}

.tetris__game-board__menu__title span:nth-child(3) {
  animation: color-change 1.5s ease-in-out 1s;
}

.tetris__game-board__menu__title span:nth-child(4) {
  animation: color-change 1.5s ease-in-out 1.5s;
}

.tetris__game-board__menu__title span:nth-child(5) {
  animation: color-change 1.5s ease-in-out 2s;
}

.tetris__game-board__menu__title span:nth-child(6) {
  animation: color-change 1.5s ease-in-out 2.5s;
}

.tetris__game-board__menu__buttons,
.tetris__game-board__menu__highscores,
.tetris__game-board__menu__help,
.tetris__game-board__game-over {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  min-width: 85%;
  border: 1px solid var(--tetris-color3);
  border-radius: 10px;
}

.tetris__game-board__game-over {
  align-items: center;
  margin: 1rem 0;
  border: 1px solid var(--tetris-color6);
}

.tetris__game-board__game-over p:nth-child(1) {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.tetris__game-board__menu__highscores {
  gap: 1rem;
}

.tetris__game-board__menu__highscores > div:nth-child(1) {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

.tetris__game-board__menu__highscores > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 15px;
}

.tetris__game-board__menu__highscores > div > div {
  display: flex;
  border-bottom: 1px solid var(--tetris-color9);
}

.tetris__game-board__menu__highscores p {
  min-width: 2rem;
}

.tetris__game-board__menu__help p:nth-child(1) {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.tetris__game-board__menu__highscores p > span:first-child {
  font-size: 0.8rem;
  color: var(--tetris-color1);
}

.tetris__game-board-container {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-template-rows: repeat(20, 2rem);
  gap: 1px;
  border: 2px solid var(--tetris-color2);
  border-radius: 0 0 5px 5px;
  border-top: 0;
  background-color: var(--tetris-color5);
  animation: pulse 5s ease-out infinite;
}

.tetris__game-board-container__item {
  border-radius: 3px;
  background-color: var(--tetris-background-color);
}

.tetris-item-block {
  box-shadow: inset 0px 4px 15px var(--tetris-color3);
  animation: block-pulse 2s ease-in infinite;
}

.tetris-item-tetromino {
  border: 1px solid var(--tetris-color4);
  animation: tetromino-pulse 2s ease-in infinite;
}

.tetris__game-board-container > div:nth-child(-n + 10) {
  border-radius: 0px 0px 3px 3px;
  filter: opacity(0.9);
}

.tetris__score-board {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.5rem;
  min-width: 8rem;
}

@keyframes pulse {
  0% {
    border: 2px solid var(--tetris-color7);
    box-shadow: 0px 0px 10px 5px var(--tetris-color7);
    border-top: 0;
  }
  50% {
    border: 2px solid var(--tetris-color1);
    box-shadow: 0px 0px 10px 5px var(--tetris-color1);
    border-top: 0;
  }
  100% {
    border: 2px solid var(--tetris-color7);
    box-shadow: 0px 0px 10px 5px var(--tetris-color7);
    border-top: 0;
  }
}

@keyframes tetromino-pulse {
  0% {
    box-shadow: inset 0px 0px 10px 2px var(--tetris-color3);
  }
  50% {
    box-shadow: inset 0px 0px 10px 15px var(--tetris-color3);
  }
  100% {
    box-shadow: inset 0px 0px 10px 2px var(--tetris-color3);
  }
}

@keyframes block-pulse {
  0% {
    box-shadow: inset 0px 0px 10px 2px var(--tetris-color1);
  }
  50% {
    box-shadow: inset 0px 0px 10px 15px var(--tetris-color1);
  }
  100% {
    box-shadow: inset 0px 0px 10px 2px var(--tetris-color1);
  }
}

@keyframes color-change {
  0% {
    color: var(--tetris-color3);
  }
  50% {
    color: var(--tetris-color1);
  }
  100% {
    color: var(--tetris-color3);
  }
}

@media screen and (max-width: 380px) {
  .tetris__game-board__menu {
    min-height: calc(20rem + 21px);
    min-width: calc(10rem + 13px);
  }

  .tetris__game-board-container {
    grid-template-columns: repeat(10, 1rem);
    grid-template-rows: repeat(20, 1rem);
  }

  .tetris button {
    font-size: 1rem;
  }

  .tetris__game-board__menu__buttons,
  .tetris__game-board__menu__highscores,
  .tetris__game-board__menu__help,
  .tetris__game-board__game-over {
    gap: 0.4rem;
  }

  .tetris__game-board__game-over p {
    font-size: 0.7rem;
  }

  .tetris__game-board__game-over p:nth-child(1) {
    font-size: 0.8rem;
  }

  .tetris__game-board__menu__title {
    font-size: 1.5rem;
  }

  .tetris__game-board__menu__highscores > div:nth-child(2) {
    overflow-y: scroll;
    max-height: 9rem;
    font-size: 0.7rem;
  }
}
