.desktop {
  flex: 1;
  max-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.2rem;
}

.desktop .icon {
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  border: 0;
  padding: 0.3rem;
  transition: all 0.4s ease-in;
  color: white;
}

.desktop .icon:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
