#desktop-context-menu {
  z-index: 2;
  position: absolute;
  min-width: 8rem;
  min-height: 7rem;
  padding: 0.3rem;
  background-color: var(--theme-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--theme-bg);
}

#desktop-context-menu > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--theme-font);
  border-radius: 5px;
  font-size: 0.9rem;
}

#desktop-context-menu > button:hover {
  background-color: var(--hover-main);
}
