.react-calendar {
  width: 20rem;
  min-height: 17rem;
  padding: 2rem 0;
  border: 0.5px solid #a0a096;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 1);
  font-size: smaller;
}

.react-calendar button {
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: 2.75rem;
  margin-bottom: 0.5rem;
}
.react-calendar__navigation button {
  color: white;
}

.react-calendar__year-view__months {
  justify-content: center;
  align-items: center;
  min-height: 11rem;
  gap: 1rem;
}

.react-calendar__year-view__months button {
  max-width: 5rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 0.75em;
}

div .react-calendar__month-view__days__day {
  color: white;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  border-radius: 10px;
  color: white;
}

.react-calendar__tile + .react-calendar__tile--now {
  border-radius: 5px;
  background-color: orangered;
  color: black;
}
