.calendar--app {
  height: 100%;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 3rem 1fr;
  gap: 1rem;
  background-color: var(--theme-bg-light);
  padding: 0.8rem;
  overflow-y: scroll;
}

.calendar--app::-webkit-scrollbar,
.calendar--app *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.calendar--app::-webkit-scrollbar-track,
.calendar--app *::-webkit-scrollbar-track {
  background: var(--hover-main);
  border-radius: 5px;
}

.calendar--app::-webkit-scrollbar-thumb,
.calendar--app *::-webkit-scrollbar-thumb {
  background: var(--hover-main);
  border-radius: 5px;
}

.calendar--app::-webkit-scrollbar-thumb:hover,
.calendar--app *::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

.calendar--app img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(100%);
}

.calendar--app button {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0.4rem 0.4rem;
  border-radius: 5px;
  background: none;
  border: 1px solid var(--border-main);
  cursor: pointer;
  color: var(--theme-font);
  transition: all 0.5s;
}

.calendar--app button:hover {
  background-color: var(--hover-main);
}

.calendar--app input,
.calendar--app textarea {
  max-width: 100%;
  padding: 0.3rem 0.4rem 0.4rem;
  background-color: transparent;
  color: var(--theme-font);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--border-main);
  border-radius: 5px;
}

.calendar--app input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.calendar--app header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
}

.calendar--app header > p {
  font-size: 1.5rem;
  font-weight: 700;
}

.calendar--app aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.calendar--app aside > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.calendar--app main {
  background-color: var(--theme-bg);
  border-radius: 5px;
  height: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}

.calendar--app--main__header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.calendar--app--main__header button {
  min-width: 6rem;
}

.calendar--app--main__header p {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
}

.calendar--app--main__body {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2rem repeat(6, 15%);
  gap: 2px;
}

.calendar--app--main__day--name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: var(--hover-main);
}

.calendar--app--main__day {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem;
  border: 1px solid var(--border-main);
}

.calendar--app--main__day > p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--hover-main);
}

.calendar--app--main__day.active--day {
  border: 1px solid var(--blue);
  outline: 2px solid var(--blue);
}

.calendar--app--main__day:hover {
  border: 1px solid var(--blue);
  outline: 2px solid var(--blue);
}

.calendar--app--main__day.empty {
  border: none;
}

.calendar--app--main__day.empty:hover {
  border: none;
  outline: none;
}

.calendar--app--main__day__tasks--list {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  overflow-y: scroll;
}

.calendar--app--main__day__tasks--list .list--item:hover {
  background-color: var(--hover-main);
}

.calendar--app--main__day__tasks--list::-webkit-scrollbar {
  display: none;
}

.calendar--app--main__day__tasks--list > div {
  border: 1px solid;
  padding: 2px 4px 4px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.calendar--app--task {
  padding: 0.9rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid var(--hover-main);
}

.calendar--app--task input {
  margin-bottom: 1rem;
}

.calendar--app--task > textarea {
  resize: none;
  min-height: 10rem;
}

.calendar--app--task__icons,
.calendar--app--task__color {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calendar--app--task__icons > label,
.calendar--app--task__color > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.calendar--app--task__color > button:hover {
  outline: 1px solid var(--blue);
}
