.custom-alert-prompt,
.custom-alert-prompt__background {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

.custom-alert-prompt {
  z-index: 15;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.custom-alert-prompt-show {
  height: 100vh;
  width: 100vw;
  opacity: 1;
}

.custom-alert-prompt__background {
  height: 100vh;
  width: 100vw;
  z-index: -5;
  background-color: var(--theme-bg-light);
  transition: opacity 1s, z-index 0s;
}

.custom-alert-prompt__background-show {
  z-index: 14;
  opacity: 1;
}

.custom-alert-prompt-show > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  min-width: 10rem;
  border-radius: 10px;
  border: 1px solid var(--border-main);
  padding: 0.5rem;
  background-color: var(--theme-bg);
}

.custom-alert-prompt p {
  max-width: 20rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.custom-alert-prompt-show > div > div {
  display: flex;
  gap: 0.5rem;
}

.custom-alert-prompt button {
  background-color: transparent;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: small;
  transition: all 0.5s;
}

.custom-alert-prompt button:hover {
  background-color: var(--hover-main);
}

.custom-alert-prompt-accept-btn {
  color: var(--green);
}

.custom-alert-prompt-dismiss-btn {
  color: var(--red);
}
