#desktop-context-menu {
  z-index: 2;
  position: absolute;
  min-width: 8rem;
  min-height: 7rem;
  padding: 0.3rem;
  background-color: var(--theme-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--theme-bg);
  border: 1px solid var(--hover-main);
}

#desktop-context-menu > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  background-color: transparent;
  color: var(--theme-font);
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.3rem;
}

#desktop-context-menu > button:hover {
  background-color: var(--hover-main);
}

#desktop-context-menu > button img {
  width: 0.9rem;
  filter: invert(100%);
}

.desktop-context-appear {
  opacity: 0;
  transform: scale(0);
}

.desktop-context-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: 1s all;
}
