.desktop {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
  padding-bottom: 4rem;
  background-size: cover;
}

.desktop_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: var(--icon-bg);
  padding: 0.3rem;
  transition: all 0.4s ease-in;
  border-radius: 5px;
  color: var(--theme-font);
}

.desktop_icon img {
  filter: invert(100%);
  max-height: 55%;
}

.desktop_icon p {
  font-size: 0.8rem;
  text-shadow: 2px 2px 3px black;
}

.desktop_icon:hover {
  background-color: var(--hover-main);
}
