.loading-spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid var(--wss-main-color3);
  border-top-color: var(--wss-main-color1);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
