:root {
  --theme-bg: hsla(198, 16%, 13%);
  --theme-bg-light: hsla(197, 13%, 22%, 0.795);
  --theme-font: hsl(0, 0%, 100%);
  --hover-main: rgba(255, 255, 255, 0.1);
  --border-main: #a0a096;
  --icon-bg: rgba(28, 35, 38, 0.329);
  --red: #d40909;
  --green: #27960b;
  --blue: #5b53d6;
  --frame: rgb(41, 39, 43);
  --shadow: rgba(0, 0, 0, 0.3);
  --program-container-background: rgba(0, 0, 0, 0.85);
  --hidden: rgba(76, 73, 80, 0.658);
  --showed: rgba(167, 162, 179, 0.644);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  background-color: black;
  color: var(--theme-font);
  overflow: hidden;
}

.whole-screen {
  height: 100vh;
  width: 100vw;
}

.enter-appear {
  opacity: 0;
}
.enter-appear-active {
  opacity: 1;
  transition: opacity 1000ms;
}
