.menu-start {
  z-index: 15;
  position: absolute;
  bottom: 3.5rem;
  left: 0.5rem;
  width: 25rem;
  border-radius: 10px;
  border: 1px solid var(--border-main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-start-enter {
  transform: translateX(-30rem);
}

.menu-start-enter-active {
  transform: translateX(0);
  transition: all 0.3s;
}

.menu-start-exit {
  transform: translateX(0);
}

.menu-start-exit-active {
  transform: translateX(-30rem);
  transition: all 0.3s;
}

.menu-start button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 1.5rem;
  padding: 0.2rem;
  background-color: transparent;
  transition: all 0.5s;
  border-radius: 5px;
  color: var(--them-font);
}

.menu-start button p {
  color: var(--them-font);
  font-size: smaller;
}

.menu-start button:hover {
  background-color: var(--hover-main);
}

.menu-start-widget {
  background-color: var(--theme-bg-light);
  border-radius: 10px 10px 0 0;
}

.menu-start-utils {
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-bg);
  border-radius: 0 0 10px 10px;
}

.menu-start-utils > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.menu-start-button-img {
  filter: invert(88%) sepia(65%) saturate(2%) hue-rotate(252deg)
    brightness(114%) contrast(101%);
}

.menu-start-avatar {
  max-height: 2rem;
  border-radius: 50%;
}
