.react-calendar {
  z-index: 13;
  position: absolute;
  bottom: 3.5rem;
  right: 0.5rem;
  width: 20rem;
  min-height: 14rem;
  padding: 1rem 0;
  border: 0.5px solid var(--border-main);
  border-radius: 5px;
  background-color: var(--theme-bg);
  font-size: smaller;
}

.react-calendar button {
  color: var(--theme-font);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.react-calendar button:hover {
  background-color: var(--hover-main);
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 2rem;
  min-height: 2.75rem;
  margin-bottom: 0.5rem;
}

.react-calendar__navigation__arrow {
  width: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.react-calendar__decade-view__years {
  height: 13rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.react-calendar__decade-view__years button {
  max-width: 6rem;
}

.react-calendar__year-view__months {
  justify-content: center;
  align-items: center;
  min-height: 13rem;
  gap: 1rem;
}

.react-calendar__year-view__months button {
  max-width: 5rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}

.react-calendar__month-view__days {
  padding-top: 0.2rem;
  min-height: 12rem;
  row-gap: 0.2rem;
  align-items: stretch;
}

.react-calendar__tile + .react-calendar__tile--now {
  border-radius: 5px;
  background-color: orangered;
  color: black;
}

.react-calendar__month-view__days
  > .react-calendar__month-view__days__day--neighboringMonth {
  color: grey;
}
