.news-box_actual-news {
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  font-size: small;
  min-height: fit-content;
  border-radius: 5px;
  background-color: var(--frame);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
}

.news-box_actual-news > button {
  border: 1px solid var(--theme-font);
}

.news-box-wrapper {
  padding: 5px 10px;
}

.news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow-y: scroll;
  min-height: 5rem;
  max-height: 25rem;
}

.news-box-error {
  min-height: 5rem;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--red);
}

.news-box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  padding: 0.2rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: var(--theme-bg);
}

.news-box-buttons button {
  font-size: small;
  text-transform: capitalize;
}

.news-box::-webkit-scrollbar {
  width: 5px;
}

.news-box::-webkit-scrollbar-track {
  background: var(--theme-bg);
  border-radius: 5px;
}

.news-box::-webkit-scrollbar-thumb {
  background: var(--hover-main);
  border-radius: 5px;
}

.news-box::-webkit-scrollbar-thumb:hover {
  background: var(--hover-main);
}

.news-box-article {
  text-shadow: 3px 3px 2px black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10rem;
  width: 20rem;
  padding: 0.5rem;
  background-size: cover;
}

.news-box-article p {
  text-align: left;
  background-color: var(--shadow);
  padding: 0.1rem;
}

.news-box-article p:nth-child(2) {
  font-size: small;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20rem;
}

.news-box-article p:nth-child(2):hover {
  white-space: normal;
}
