.task-bar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100vw;
  border-top: 0.5px solid var(--border-main);
  padding: 0 1rem;
  background-color: var(--theme-bg);
}

.task-bar button {
  background-color: transparent;
  padding: 0.2rem;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

.task-bar button:hover {
  background-color: var(--hover-main);
}

.menu-start-btn > img {
  width: 1.8rem;
  filter: invert(21%) sepia(42%) saturate(5139%) hue-rotate(205deg)
    brightness(170%) contrast(84%);
}

.programs,
.additionals {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.calendar-button {
  font-size: 0.8rem;
  color: var(--theme-font);
  text-align: right;
}

.calendar-div {
  position: absolute;
  bottom: 3.5rem;
  right: 0.5rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
}

.hidden-calendar {
  transform: translateX(25rem);
}
