.calculator-window {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.calculator-error {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.3rem;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: var(--red);
  font-weight: 600;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--theme-bg);
  border-radius: 5px;
}

.calculator__outputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.calculator__outputs > p {
  width: 20rem;
  text-align: end;
  font-weight: 500;
  padding-right: 0.3rem;
}

.calculator__outputs > p:nth-child(1) {
  font-size: 0.9rem;
}

.calculator__outputs > p:nth-child(2) {
  font-size: 1.7rem;
  overflow-x: hidden;
}

.calculator__outputs > p:nth-child(2):hover {
  overflow-x: visible;
}

.calculator__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.5rem;
}

.calculator__inputs > div {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.calculator__inputs > div:nth-child(1) button,
.calculator__inputs > div > button:last-of-type {
  background-color: var(--hover-main);
}

.calculator button {
  color: var(--theme-font);
  font-weight: 500;
  font-size: 1.2rem;
}

.calculator button {
  width: 4.5rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid var(--border-main);
  background-color: transparent;
}

.calculator button:hover {
  border-color: var(--blue);
}
