.window {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.window::-webkit-scrollbar,
.window *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.window::-webkit-scrollbar-track,
.window *::-webkit-scrollbar-track {
  background: var(--hover-main);
  border-radius: 5px;
}

.window::-webkit-scrollbar-thumb,
.window *::-webkit-scrollbar-thumb {
  background: var(--hover-main);
  border-radius: 5px;
}

.window::-webkit-scrollbar-thumb:hover,
.window *::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

.error {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.3rem;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: var(--red);
  font-weight: 600;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--theme-bg);
  border-radius: 5px;
}

.outputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.outputs > p {
  width: 20rem;
  text-align: end;
  font-weight: 500;
  padding-right: 0.3rem;
}

.outputs > p:nth-child(1) {
  font-size: 0.9rem;
}

.outputs > p:nth-child(2) {
  font-size: 1.7rem;
  overflow-x: hidden;
}

.outputs > p:nth-child(2):hover {
  overflow-x: visible;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.5rem;
}

.inputs > div {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.inputs > div:nth-child(1) button,
.inputs > div > button:last-of-type {
  background-color: var(--hover-main);
}

.calculator button {
  color: var(--theme-font);
  font-weight: 500;
  font-size: 1.2rem;
}

.calculator button {
  width: 4.5rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid var(--border-main);
  background-color: transparent;
}

.calculator button:hover {
  border-color: var(--blue);
}
