.app {
  height: 100%;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 3rem 1fr;
  gap: 1rem;
  background-color: var(--theme-bg-light);
  padding: 0.8rem;
  overflow-y: scroll;
}

.app::-webkit-scrollbar,
.app *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.app::-webkit-scrollbar-track,
.app *::-webkit-scrollbar-track {
  background: var(--hover-main);
  border-radius: 5px;
}

.app::-webkit-scrollbar-thumb,
.app *::-webkit-scrollbar-thumb {
  background: var(--hover-main);
  border-radius: 5px;
}

.app::-webkit-scrollbar-thumb:hover,
.app *::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

.app img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(100%);
}

.app button {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0.4rem 0.4rem;
  border-radius: 5px;
  background: none;
  border: 1px solid var(--border-main);
  cursor: pointer;
  color: var(--theme-font);
  transition: all 0.5s;
}

.app button:hover {
  background-color: var(--hover-main);
}

.app input,
.app textarea {
  max-width: 100%;
  padding: 0.3rem 0.4rem 0.4rem;
  background-color: transparent;
  color: var(--theme-font);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--border-main);
  border-radius: 5px;
}

.app input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.app header {
  display: flex;
  align-items: center;
}

.app header > p {
  font-size: 1.5rem;
  font-weight: 700;
}

.app aside {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app aside > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.app main {
  background-color: var(--theme-bg);
  border-radius: 5px;
  min-height: 50rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}

.mainHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.mainHeader button {
  min-width: 6rem;
}

.mainHeader p {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
}

.mainBody {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2rem repeat(6, 15%);
  gap: 2px;
}

.dayName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: var(--hover-main);
}

.day {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem;
  border: 1px solid var(--border-main);
}

.day > p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--hover-main);
}

.day.activeDay {
  border: 1px solid var(--blue);
  outline: 2px solid var(--blue);
}

.day:hover {
  border: 1px solid var(--blue);
  outline: 2px solid var(--blue);
}

.day.empty {
  border: none;
}

.day.empty:hover {
  border: none;
  outline: none;
}

.taskList {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  overflow-y: scroll;
}

.taskList .listItem:hover {
  background-color: var(--hover-main);
}

.taskList::-webkit-scrollbar {
  display: none;
}

.taskList > div {
  border: 1px solid;
  padding: 2px 4px 4px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task,
.current {
  padding: 0.9rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid;
}

.task input {
  margin-bottom: 1rem;
}

.task > textarea {
  resize: none;
  min-height: 10rem;
}

.taskIcons,
.taskColors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.taskIcons > label,
.taskColors > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.taskColors > button:hover {
  outline: 1px solid var(--blue);
}

.currentDate {
  font-size: 1.2rem;
  font-weight: 500;
}

.currentTitle {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.currentDescription {
  border: 1px solid var(--border-main);
  border-radius: 5px;
  padding: 0.2rem;
  min-height: 10rem;
}
