.contextMenu {
  z-index: 2;
  position: absolute;
  width: 10rem;
  padding: 0.3rem;
  background-color: var(--theme-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--theme-bg);
  border: 1px solid var(--hover-main);
}

.contextMenu button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  background-color: transparent;
  color: var(--theme-font);
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.3rem;
}

.contextMenu button:hover {
  background-color: var(--hover-main);
}

.contextMenu button img {
  width: 0.9rem;
  filter: invert(100%);
}

.menuView {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.menuView > button > p {
  font-size: 0.7rem;
}

.refreshScreen {
  opacity: 0;
}
