.introjs-hint-pulse {
  background-color: var(--blue);
}

.introjs-tooltip {
  background-color: var(--theme-bg);
  color: var(--theme-font);
  border-radius: 5px;
  border: 1px solid var(--border-main);
}

.introjs-skipbutton {
  border-radius: 0 5px 0 0;
}

.introjs-tooltiptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.introjs-tooltip a {
  background-color: var(--theme-bg);
  color: var(--theme-font);
  text-shadow: none;
  box-shadow: none;
}

.introjs-tooltip a:focus {
  background-color: var(--theme-bg);
  color: var(--theme-font);
  text-shadow: none;
  box-shadow: none;
  outline: none;
}

.introjs-tooltip a:hover {
  background-color: var(--hover-main);
  color: var(--theme-font);
}

.introjs-tooltiptext {
  color: var(--theme-font);
}

.introjs-helperLayer {
  outline: 2px solid var(--blue);
}

.introjs-dontShowAgain label {
  color: var(--theme-font);
  background-color: var(--theme-bg);
  margin-bottom: 0.4rem;
}
