.loadingSpinnerFullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 100;
  background-color: var(--shadow-bg);
}

.loadingSpinnerWindow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  z-index: 150;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid var(--wss-main-color3);
  border-top-color: var(--wss-main-color1);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
