:root {
  --theme-bg: #1c2326;
  --theme-bg-light: #1c2326cb;
  --theme-font: #ffffff;
  --hover-main: #ffffff1a;
  --border-main: #a0a096;
  --icon-bg: #1c232654;
  --red: #e20b0b;
  --green: #27960b;
  --blue: #5b53d6;
  --frame: #29272b;
  --shadow: #0000004d;
  --program-container-background: #000000f1;
  --shadow-bg: rgba(0, 0, 0, 0.7);
  --hidden: #4c4950a8;
  --showed: #a7a2b3a4;
  --personalize-border: #05634b;
  --icon-size: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  background-color: black;
  color: var(--theme-font);
  overflow: hidden;
}

.whole-screen {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
}
