.menuStart {
  z-index: 13;
  position: fixed;
  bottom: 3.5rem;
  left: 0.5rem;
  width: 25rem;
  border-radius: 5px;
  border: 1px solid var(--border-main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuStartButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 1.5rem;
  padding: 0.2rem;
  background-color: transparent;
  transition: all 0.5s;
  border-radius: 5px;
  color: var(--theme-font);
}

.menuStartButton p {
  color: var(--theme-font);
  font-size: smaller;
}

.menuStartButton:hover {
  background-color: var(--hover-main);
}

.utils {
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-bg);
  border-radius: 0 0 5px 5px;
}

.utils > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.button {
  filter: invert(88%) sepia(65%) saturate(2%) hue-rotate(252deg)
    brightness(114%) contrast(101%);
}

.avatar {
  max-height: 2rem;
  border-radius: 50%;
}

@media screen and (max-width: 290px) {
  .menuStart {
    width: 22rem;
  }
}
