.widget {
  background-color: var(--theme-bg-light);
  border-radius: 5px 5px 0 0;
}

.widget button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 1.5rem;
  padding: 0.2rem;
  background-color: transparent;
  transition: all 0.5s;
  border-radius: 5px;
  color: var(--theme-font);
}

.widget button p {
  color: var(--theme-font);
  font-size: smaller;
}

.widget button:hover {
  background-color: var(--hover-main);
}

.wrapper {
  padding: 5px 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow-y: scroll;
  min-height: 5rem;
  max-height: 25rem;
}

.choosedNews {
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  margin: 0.4rem;
  font-size: small;
  min-height: fit-content;
  border-radius: 5px;
  border: 1px solid var(--border-main);
  background-color: var(--frame);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
}

.choosedNews > button {
  border: 1px solid var(--theme-font);
}

.error {
  min-height: 5rem;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--red);
}

.buttonsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  padding: 0.2rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: var(--theme-bg);
}

.buttonsBox button {
  font-size: small;
  text-transform: capitalize;
}

.box::-webkit-scrollbar {
  width: 5px;
}

.box::-webkit-scrollbar-track {
  background: var(--theme-bg);
  border-radius: 5px;
}

.box::-webkit-scrollbar-thumb {
  background: var(--hover-main);
  border-radius: 5px;
}

.box::-webkit-scrollbar-thumb:hover {
  background: var(--hover-main);
}

.article {
  text-shadow: 3px 3px 2px black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10rem;
  width: 20rem;
  padding: 0.5rem;
  background-size: cover;
}

.article p {
  text-align: left;
  background-color: var(--shadow);
  padding: 0.1rem;
}

.article p:nth-child(2) {
  font-size: small;
  font-style: italic;
  white-space: normal;
  text-overflow: ellipsis;
  max-width: 20rem;
}
