.window {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  overflow-y: scroll;
}

.window::-webkit-scrollbar,
.window *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.window::-webkit-scrollbar-track,
.window *::-webkit-scrollbar-track {
  background: var(--hover-main);
  border-radius: 5px;
}

.window::-webkit-scrollbar-thumb,
.window *::-webkit-scrollbar-thumb {
  background: var(--hover-main);
  border-radius: 5px;
}

.window::-webkit-scrollbar-thumb:hover,
.window *::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

.window button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-bg);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  color: var(--theme-font);
}

.window button:hover {
  outline: 1px solid var(--blue);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--theme-bg);
  border-radius: 5px;
  border: 2px solid var(--border-main);
  color: var(--red);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem;
  z-index: 125;
}

.window > .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.avatar > img {
  margin-top: 1rem;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.avatar > p {
  font-size: 2.2rem;
  font-weight: 700;
}

.avatar > span {
  font-size: 1.5rem;
  font-weight: 500;
}

.menu {
  display: flex;
  gap: 1rem;
}

.avatarChange {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.avatarChange input {
}

.pin,
.name > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name > form > button {
  margin-top: 1rem;
}

.avatarChange input,
.name p > input,
.pin input {
  margin: 0.4rem 0 0 0;
  min-width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: var(--theme-bg);
  color: var(--theme-font);
}

.name p > label,
.pin label {
  font-weight: 600;
}
