.start-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-bg);
}

.start-screen button {
  background-color: transparent;
}

.start-screen button:hover {
  outline: 2px solid var(--blue);
}

.start-screen .step-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.start-screen .step-one > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.start-screen .step-one .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.start-screen .step-one button {
  width: 6rem;
  height: 3rem;
}

.start-screen .step-one button > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.start-screen .step-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.start-screen .step-two > div {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

.start-screen .step-two button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
}

.start-screen .step-two button > img {
  height: 2rem;
  filter: invert(100%);
}

.start-screen .step-two button > span {
  color: var(--theme-font);
  font-weight: 600;
}
